@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color:   #352003;

}



.active{
border: 1px solid rgb(118, 38, 38);
}


.footer {
  height: 45px;
   background-color:#704d76;
  color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center; 
}


.min-h-screen {
  min-height: 97vh;
}

.flex-grow {
  flex-grow: 1;
}

.box {
  height: 410px;
  width: 150px;
  display:inline-block;
  box-shadow: 1px 2px 8px #9ca5a4;
  margin: 20px;
  border-radius: 12px;
  gap: 40px;
  padding: 20px;
vertical-align:auto;
  justify-content: space-between;
  align-items: center;
}

.color-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  display: flex;
  gap: 4px;
}

.color-list li{
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
img{
  height: 170px;
  width: 160px;
}

.about{
  display: flex;
  padding-top: 10px;
justify-content: space-between;
  align-items: center;
  text-align: center;

}

p{
  float: left;
}

.addCart {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  width: 120px;
  height: 30px; 
  padding: 0 12px; 
  background-color: #845c8b;
  border-radius: 23px;
  border: none;
  color: white;
  margin-top: 30px;
  font-size: 13px;
  cursor: pointer; 
  margin-left: 13px;
  transition: background-color 0.3s ease;
}

.addCart:hover {
  background-color: rgb(5, 105, 115); 
}

.buttonIcon {
  height: 26px;
  width: 26px;
  margin-right: 10px; }


.btn1{
  border: none;
  background-color: #a89082;
 color: #fdfdfd;
border-radius: 4px;
text-align: center;
justify-content: center;
margin-right: 6%;

cursor: pointer;
height: 27px;
width: 27px;
margin-left: 20%;
font-size: large;
}

.btn2{
  border: none;
  margin-left: 20%;
  background-color: #5a6f7e;
border-radius: 4px;
text-align: center;
justify-content: center;
color: aliceblue;
margin-left: 4%;
cursor: pointer;
height: 27px;
width: 27px;
font-size: large;
}


.fields {
margin-left: 40px;
padding: 15px;
justify-content: space-between;
display: inline-flex;
gap: 24px;
}


.rightSide {
  display: inline-flex;
  justify-content: space-around;
  gap:30px;
padding-left: 700px;
}